.footer-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer-address {
    margin-right: 70px;
}

.footer-address__logo {
    display: block;
    margin-bottom: 20px;
    padding: 0;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $accent-color;  
    
    &--inverse {
        color: $secondary-logo-color;
    }
}



.footer-address__roster {
    @extend %list;
    display: flex;
    flex-direction: column;
}

.footer-address__item {
    padding: 0;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
}

.footer-address__title {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: $address-color;   
}

.footer-address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $contacts-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

