.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }   
}

.features__block {
    @extend %list;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;  
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;  
    }   
}

.features__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    } 

    @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 30px) / 2);
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
        margin-bottom: 0;
    }  
}

.features__item+.features__item {
    @media screen and (min-width: 768px) and (min-width: 1200px)  {
        margin-left: 30px;
    }
}

.features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;

    background-color: $team-background-color;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-color;     
}






